/*样式重置*/
* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
html {
    font-size: 12px;
    font-family: "sans-serif", "宋体";
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: inherit;
    font-style: normal;
}
a:hover {
    text-decoration: none;
}

/*工具样式*/
.clearfix::before, .clearfix::after {
    display: table;
    content: " ";
    clear:both;
}
/*公共样式*/
.content-wrapper {
    width: 980px;
    margin: 0 auto;
}
/*业务样式*/
#header-wrapper {
    position: relative;
    min-width: 980px;
    background-color: dodgerblue;
}
header {
    position: relative;
    height: 80px;
}
#header-logo {
    position:absolute;
    bottom: 5px;
}
#header-nav {
    position: absolute;
    bottom: 5px;
    right: 0;
    /*float: right;*/
    font-size: 14px;
    color: white;
    /*margin-bottom: 5px;*/
}
#header-nav li {
    display: inline-block;
    margin-right: 28px;
}
#header-nav li:last-child {
    margin-right: 0;
}
#header-github {
    position: absolute;
    right: 10px;
    bottom: 0;
}
footer {
    min-width: 980px;
    background-color: black;
    color: white;
    text-align: center;
}
#footer-nav-wrapper {
    padding: 10px 0;
    border-bottom: 1px solid darkgray;
}
#footer-nav {
    margin: 0 auto;
}
#footer-nav li {
    display: inline-block;
    margin-right: 15px;
}
#footer-nav li:last-child {
    margin-right: 0;
}
#friend-link-wrapper {
    margin-bottom:50px;
    text-align: left;
}
#friend-link-wrapper a:hover {
    text-decoration: underline;
}
.friend-link {
    width: 190px;
    float: left;
}
.friend-link-title {
    color: silver;
}
.friend-link-content {
    line-height: 150%
}